<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>STR DPS Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
      body {
        font-family: sans-serif;
        padding: 10px;
      }
    </style>
  </head>

  <body>
    {{#each posts}}
      <div>
        <div>
          <b>{{this.time}}:</b> {{ this.text }}
        </div>

        {{#each this.replies}}
          <div style="padding-left: 10px">
            - {{ this.text }}
          </div>
        {{/each}}
      </div>

      <br />
    {{/each}}
  </body>
</html>
